Source: conjure-up
Section: admin
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               help2man,
               pep8,
               pyflakes,
               python3-all,
               python3-bson,
               python3-configobj,
               python3-jinja2,
               python3-nose,
               python3-petname,
               python3-requests,
               python3-requests-oauthlib,
               python3-setuptools,
               python3-urwid,
               python3-ws4py,
               python3-yaml
Standards-Version: 3.9.7
Homepage: https://github.com/Ubuntu-Solutions-Engineering/conjure
X-Python3-Version: >= 3.4
Vcs-Browser: https://github.com/Ubuntu-Solutions-Engineering/conjure
Vcs-Git: https://github.com/Ubuntu-Solutions-Engineering/conjure.git

Package: conjure-up
Architecture: all
Depends: bsdtar,
         jq,
         juju (>= 2.0~),
         lxd,
         lxd-client,
         pollinate,
         python3-bson,
         python3-configobj,
         python3-jinja2,
         python3-petname,
         python3-requests,
         python3-requests-oauthlib,
         python3-urwid,
         python3-ws4py,
         python3-yaml,
         rsyslog,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Conflicts: conjure
Replaces: conjure
Provides: conjure
Description: Package runtime for apt-installable juju bundles
 This package provides Conjure, an interface to configuring apt-installable
 packages from the cloud. It utilizes apt, juju, and conjure's custom
 configuration views.
