#!/usr/bin/make -f

PKGDIR=debian/conjure-up

export PYBUILD_NAME=conjure-up
export PYTHONPATH=$(PKGDIR)/usr/lib/python3/dist-packages
export PYBUILD_INSTALL_ARGS_python3=--install-data=usr/ \
	--install-lib=usr/lib/python3/dist-packages \
	--install-scripts=usr/bin \
	--root=$(PKGDIR) \
	--no-compile -O0

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	mkdir -p $(PKGDIR)/usr/share/man/man1
	help2man $(PKGDIR)/usr/bin/conjure-up -n "conjure-up" --no-info -o $(PKGDIR)/usr/share/man/man1/conjure-up.1
	dh_install

override_dh_auto_test:
	@echo "No tests."
